@import "tailwindcss";

@theme {
  --default-font-family: "Tahoma", "sans-serif";
  --color-brand: #1ecea2;
  --color-brand-dark: #179e7e;
}

html {
  color: #232323;
  font-weight: 500;
}

html,
body,
#__next {
  height: 100%;
  margin: 0;
}
